<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.studymanager">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".singup.SignupActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".bottombar.BottomBarActivity"
            android:label="@string/title_activity_bottom_bar"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".coursedetails.CourseDetailsActivity"
            android:label=""
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".bottombar.BottomBarActivity" />
        </activity>
        <activity
            android:name=".coursesettings.CourseSettingsActivity"
            android:label="@string/title_activity_course_settings"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.studymanager.coursedetails.CourseDetailsActivity" />
        </activity>
        <activity
            android:name=".courseupdate.CourseUpdateActivity"
            android:label="@string/title_activity_course_update"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".bottombar.BottomBarActivity" />
        </activity>
    </application>

</manifest>